body{background-color: antiquewhite;
text-align: center;}

h1{background-color: aqua; padding: 15px; margin: 20px; }
p1{background: top;background-color: crimson; color: aliceblue;}

.Datos_Personales{text-align: center;}
h4{background-color: chartreuse;}